{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Sửa Chủng Loại</h2>
    <img class="responsive-img" id="imagePreview"
         src="{{ category.categoryPicture }}" alt="{{ category.categoryName }}"/>
    <form action="/suachungloai/{{ category.idCategory }}" method="post" id="submitSuaChungLoai" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Hình ảnh chủng loại</label>
            <input class="form-control" type="file" id="formFile" name="pictureFile">
            <label for="categoryName" class="form-label">Tên chủng loại</label>
            <input class="form-control" type="text" placeholder="Tên chủng loại" aria-label="default input example" name="categoryName" id="categoryName" value="{{ category.categoryName }}">
            <p id="warningMessage" style="color: red; display: none;">File không đúng định dạng ảnh!</p>
            <input type="submit" name="" id="" value="Cập nhật chủng loại">
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/check_available_file_picture.js') }}"></script>
{% endblock %}
