{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <form action="/suavongbi/{{ bearing.idBearing }}" method="post" enctype="multipart/form-data">
    <div class="original-info">
        <div class="row">
            <div class="col">
                <div class="card-body text-center shadow">
                    <img class="mb-3 mt-4" src="{{ bearing.bearingPicture or url_for('static', filename='img/default_pic.png') }}" width="160"
                         height="160" id="imagePreview"/>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Ảnh mô tả sản phẩm</label>
                        <input class="form-control" type="file" id="formFile" name="pictureFile">
                        <p id="warningMessage" style="color: red; display: none;">File không đúng định dạng ảnh!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="productCode"><strong>Mã Sản Phẩm</strong></label>
                            <input id="productCode" class="form-control" type="text"
                                   placeholder="Mã sản phẩm" name="productCode" value="{{ bearing.bearingName }}"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="manufacturer"><strong>Hãng Sản Xuất</strong></label>
                            <select class="form-select form-select-lg mb-3"
                                    aria-label=".form-select-lg example" id="manufacturer" name="manufacturer">
                                {% for record in listManufacturer %}
                                <option value="{{ record.idManufacturer }}" {% if record.idManufacturer == bearing.idManufacturer.idManufacturer %}selected{% endif %}>
                                    {{ record.manufacturerName }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="category"><strong>Chủng Loại</strong></label>
                            <select class="form-select form-select-lg mb-3"
                                    aria-label=".form-select-lg example" id="category" name="category">
                                {% for record in listCategory %}
                                <option value="{{ record.idCategory }}" {% if record.idCategory == bearing.idCategory.idCategory %}selected{% endif %}>
                                    {{ record.categoryName }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        {% for parameter in listParameter %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="parameter-{{parameter.idParameter}}">{{parameter.describe}}</span>
            <input type="number" step="any" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" name="parameter-{{parameter.idParameter}}"
                   value="{{ parameter_dict.get(parameter.idParameter, '') }}">
        </div>
        {% endfor %}
    </div>
    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Mô Tả Sản Phẩm</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div>
                    <div class="mb-3">
                        <textarea class="form-control" id="description" rows="4" name="description">{{ bearing.bearingDescribe or '' }}</textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary btn-sm" type="submit">Cập Nhật Sản Phẩm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/check_available_file_picture.js') }}"></script>
{% endblock %}
